#rapido {
        font-weight: 300;
        padding-top: 4rem;
        height: 45rem;
        width: 24rem;
        background: #fff;
        box-shadow: 2.5px 2.5px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 1.25rem;
        margin: 2rem;
        justify-content: center;
        align-items: center;

}



#rapido p {
        padding-top: 2rem;
        text-align: justify;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1.7rem;

}



#rapido img {


        padding-top: 2rem;
        margin: auto;
        display: block;
        padding-bottom: 1.25rem;

}



#pratico {
        font-weight: 300;
        padding-top: 4rem;
        height: 45rem;
        width: 24rem;
        background: #fff;
        box-shadow: 2.5px 2.5px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 1.25rem;
        margin: 2rem;
        justify-content: center;
        align-items: center;

}



#pratico p {
        height: auto;
        
        text-align: justify;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-top: 1.7rem;
        margin-bottom: 1rem;
}



#pratico img {


        padding-top: 2rem;
        margin: auto;
        display: block;
        padding-bottom: 1.25rem;

}



#facil {

        font-weight: 300;
        padding-top: 4rem;
        height: 45rem;
        width: 24rem;
        background: #fff;
        box-shadow: 2.5px 2.5px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 1.25rem;
        margin: 2rem;
        justify-content: center;
        align-items: center;
}



#facil h1 {

        text-align: center;

}



#facil img {

        padding-top: 2rem;
        margin: auto;
        display: block;
        padding-bottom: 1.25rem;

}



#facil p {
        margin-bottom: 1rem;
        
        text-align: justify;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-top: 1.7rem;
}



#card_aula {

        width: 75.5rem;
        height: 12.5rem;
        background: #FFFFFF;
        box-shadow: 2.5px 2.5px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 1.25rem;

}



#imagen1 {

        align-items: center;
        margin: auto;
        justify-content: center;
        min-height: min-content;
        min-height: min-content;
        display: flex;
        padding-top: 2rem;

}

#imgm {
        display: block;
        margin-left: auto;
        margin-right: auto;
}


<!---------------------------------------------------------------PARA-CIMA-CLASS---PARA-BAIXO-ID--------------------------------------------------------------------->

.navbar {

        display: flex;
        justify-content: end;
        position: relative;

}



.logotipo {

        display: flex;
        justify-content: space-between;

}



.objetivo {

        padding-top: 1.2rem;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
        font-size: 1.875rem;
        padding-bottom: 5rem;

}



#objetivo_h1 {

        padding-top: 7rem;
        padding-bottom: 4rem;
}



.objetivo h2 {

        font-size: 2.5rem;
        font-style: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;

}



.objetivo p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-family: 'Montserrat', sans-serif;

}



.container {
        display: flex;
        align-items: center;
}

.card {
        border: 20px;
        margin-left: 10px;
        height: 200px;
        background-color: rgb(0, 95, 0);
        flex: 1;
        transition: .3s all ease;


}

.texte {
        border: 20px;
        margin-left: 10px;
        height: 200px;
        background-color: rgb(0, 95, 0);
        flex: 1;
        transition: .3s all ease;
}

.texte:hover {
        flex: 2;
        background-color: rgb(13, 253, 25);
}



.texte div {
        display: none;
}

.texte:hover div {
        display: block;       
}

#textea1 {
        background-image: url(../imagens/Rectangle\ 183.png) ;
        background-size: cover;
        background-repeat: no-repeat;
}

#textea2{
        background-image: url(../imagens/aulas/aula2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
#textea3{
        background-image: url(../imagens/aulas/aula3.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
#textea4{
        background-image: url(../imagens/aulas/aula4.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
#textea5{
        background-image: url(../imagens/aulas/aula5.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
#textea6{
        background-image: url(../imagens/aulas/aula6.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
}
.textea2 img{
        width: auto;
        columns: 1;
}


#textea1 img{
        width: auto;
        columns: 1;
}

.card:hover {
        flex: 2;
        background-color: rgb(13, 253, 25);
}


.aula_h1 {

        padding-top: 8rem;


}



.aula {

        padding-top: 3rem;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 5rem;

}



.aula p {

        font-size: 1.25rem;
        text-align: center;
        margin-top: 1.875rem;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        font-family: 'Montserrat', sans-serif;

}



.aulas {

        position: absolute;
        width: 24.375rem;
        height: 11.25rem;
        background: rgba(26, 106, 58, 0.8);
        border-radius: .625rem;

}



.logotipo {

        justify-content: end;
        display: flex;
        justify-content: space-between;

}

.opcoes {

        margin-top: 1rem;
        margin-right: 4rem;
        margin-bottom: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        display: flex;
        text-align: center;
        color: var(--dark_green);
        cursor: pointer;
}


.sustec2 {

        padding-bottom: 2.5rem;
        display: block;

}



.logo2 {

        margin-right: 2rem;

}



.cln {

        display: flex;
        justify-content: space-between;

}



.aula1 {

        width: 6.25rem;

}



.hori1 {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 2rem;

}



.hori2 {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 5rem;
}



#links {

        margin-bottom: 5rem;
}



.link img {
        height: 5rem;
}





.Fnome {
        
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;

}

.feed h1{
        padding-top: 2rem;
}

.Femail {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
}

.Fassunto {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
}

#boxnome {
        width: 20rem;
        height: 20px;
        left: 219.19px;
        top: 340px;
        background: #C9C2C2;
        border-radius: px;
}

#boxnome,
#boxemail {
        flex-direction: row;
}

#boxemail {
        width: 20rem;
        height: 20px;
        left: 219.19px;
        top: 340px;
        background: #C9C2C2;
        border-radius: 2px;
}

#boxassunto {
        width: 30rem;
        height: 5rem;
        left: 219.19px;
        top: 340px;
        background: #C9C2C2;
        border-radius: 1px;

}

.feed {
        width: 50rem;
        height: 30rem;
        left: 182px;
        top: 163px;
        background: #FFFFFF;
        box-shadow: -6px -6px 4px rgba(0, 0, 0, 0.5), 6px 6px 4px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin-left: 15rem;
}




.feedback {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;

}

<!--------------------------------------------------------------------------------------Carrossel---------------------------------------------------------------------->

body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.slider {
        margin: 0 auto;
        width: 1100px;
        height: 600px;
        overflow: hidden;
}

.slides {
        width: 400%;
        height: 400px;
        display: flex;
}

.slides input {
        display: none;
}

.slide {
        width: 25%;
        position: relative;
        transition: 2s;
}

.slide img {
        
        width: 1100px;

}

.manual-navigation {
        position: absolute;
        width: 85%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        padding-inline: 10rem;
        padding-top: 5rem;

}

.manual-btn {
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
}

.manual-btn:not(:last-child) {
        margin-right: 40px;
}

.manual-btn:hover {
        background-color: #fff;
}

#radio1:checked~.first {
        margin-left: 0%;
}

#radio2:checked~.first {
        margin-left: -25%;
}

#radio3:checked~.first {
        margin-left: -50%;
}

#radio4:checked~.first {
        margin-left: -75%;
}

#radio5:checked~.first {
        margin-left: -100%;
}

.navigation-auto div {
        
        border: 2px solid #20a6ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;

}

.navigation-auto {
        width: 85%;
        position: absolute;
        margin-top: 460px;
        display: flex;
        justify-content: center;
        padding-inline: 10rem;
        padding-top: 5rem;
}

.navigation-auto div:not(:last-child) {
        margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
        background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
        background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
        background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
        background-color: #fff;
}