body{
    background-image: url(../imagens/tela-principal.png);
    background-repeat: repeat;
    background-size: cover;
    
    
}
.imagen1 img{
    width: 35%;
    padding-left: 2.5rem;
    
}
.h2a1 {

    font-family: 'Francois One', sans-serif;
    margin-left: 23rem;
    font-size: 2rem;
}

.para1 {
    margin-left: 5rem;
    text-align: justify;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
    float: left;
    font-size: 1rem;
   

}

#para2, #para3 {
    display: flex;
    justify-content: flex-end;
}



.aulala {
    justify-content: space-between;
    height: auto;
    width: auto;
}
.feedbacka{
    margin-right: 6rem;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    padding-left: 1rem;
}
.feedbacka a {
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border-radius: 1px;
    color: var(--dark_hover);
}

.feedbacka button {
    border: 1;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    border-radius: 1px;
    color: var(--dark_hover);
   
}

#butaones{
    
    align-items: center;
    display: flex;
    justify-content: center;
}

#butaones button:hover{
    position: absolute;
    background-color: black;
}



.imagen1 {
    padding-top: 1.27rem;
    padding-right: 0rem;
    width: 450px 450px;
    
}

