.h2a1 {
    font-family: 'Francois One', sans-serif;
    margin-left: 13rem;
    font-size: 2.2500rem;
}

.para1 {
    text-align: justify;
    width: 650px;
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
    float: left;
    font-size: 1.50rem;

}

#para2, #para3 {
    display: flex;
    justify-content: flex-end;
}

#para3 {
    
}

.imagen1,
.para1 {
    justify-content: space-between;
    padding-left: 11rem;

}

.imagen1 {
    padding-right: 0rem;
    width: 450px 450px;
    float: right;
}