* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-repeat: repeat;
    background-size: cover; 
  }
  

  .navJ {

    margin-top: 1rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    text-align: center;
    color: var(--dark_green);
    cursor: pointer;
    
}

  
  .questions-container {
    
    background-color: #ffffff;
    color: black;
    border-radius: 15px 15px 15px 15px;
    padding: 1px 0;
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  
    
    
  }
  
  .questions-container span{
    margin: 0;
    color: #ffffff;
  }
  
  .title-background {
    background-color: #107010; 
    border-radius: 15px 15px 0 0; 
    padding: 40px 0;
    margin-bottom: 60px;
  }
  
  
  
  .question {
    font-size: 20px;
    margin: 0;
  }
  
  .answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 30px;
  }
  
  .answer:disabled {
    cursor: not-allowed;
  }
  
  .next-question {
    margin-top: 32px;
  }
  
  .button {
    width: 100%;
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    text-align: center;
  
    transition: filter 0.1s;
  }
  
  .button:not(:disabled):hover {
    filter: brightness(0.8);
  }
  
  /* Finish game */
  .final-message {
    font-size: 20px;
    text-align: center;
  }
  
  .containor {
    height: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .final-message span {
    display: block;
    margin-top: 8px;
  }
  
  /* General styles */
  .hide {
    display: none;
  }
  
  .correct {
    background-color: #008039;
  }
  
  .incorrect {
    background-color: #910000;
  }